{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Все статьи
{% endblock %}

{% block article %}
{% for article in articles %}
    <div>
        <p> Дата публикации: {{ article.article_date }} </p>
        <a href="/article/get/{{ article.id }}/"> <h2>{{ article.article_title }} </h2></a>
        <p> {{ article.article_text }} </p>
        <p align="right"><a href="/articles/addlike/{{ article.id }}/"><img src="{% static 'articles/imgs/index.png' %}" width="30px" height="30px" class="like-img"></a>{{ article.article_likes }}</p>
        <div class="blend.burn"> </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}
